<div class="row copy-matchid">
    <div class="col-xs-12">
      <label for="match-id">Match ID</label>
    </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-5">
      <input type="text" id="match-id" ng-value="modal.matchData._id" class="form-control">
    </div>
    <div class="col-xs-1">
    <button type="button" clip-copy="modal.matchData._id" class="btn btn-default">
      <i class="icon ion-ios-copy"></i>
    </button>
    </div>
  </div>

</div>
  
<div class="row" id="choose-color">
  <div ng-class="{ 'col-sm-4': showRandom, 'col-sm-6': !showRandom && showBlack, 'col-sm-12': !showBlack }" ng-show="showWhite">
    <div class="thumbnail white" ng-click="choose('w')">
      <img src="/assets/images/wK.svg" width="80" alt="play as white">
      <div class="caption">Play as white</div>
    </div>
  </div>
  <div class="col-sm-4" ng-show="showRandom">
    <div class="thumbnail">
      <img src="/assets/images/rK.svg" width="80" alt="play as black" ng-click="choose('r')">
      <div class="caption">Random color</div>
    </div>
  </div>
  <div ng-class="{'col-sm-4': showRandom, 'col-sm-6': !showRandom && showWhite, 'col-sm-12': !showWhite }" ng-show="showBlack">
    <div class="thumbnail">
      <img src="/assets/images/bK.svg" width="80" alt="play as black" ng-click="choose('b')">
      <div class="caption">Play as black</div>
    </div>
  </div>
</div>
