$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$ionicons-font-path: "/bower_components/ionicons/fonts";
$chessboard-assets-path: "/bower_components/chessboard/assets";

@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'ionicons/scss/ionicons';
@import 'chessboard/assets/chessboard';


$brand-primary: #0e98d9;
$brand-success: #019d89;
$brand-info:    #3bcce1;
$brand-warning: #f8a227;
$brand-danger:  #ec3a36;

/**
 * App-wide Styles
 */

// Component styles are injected through grunt
// injector
@import 'admin.scss';
@import 'base.scss';
@import 'errors.scss';
@import 'footer.scss';
@import 'ionic-animations.scss';
@import 'login.scss';
@import 'main.scss';
@import 'match.scss';
@import 'modal.scss';
@import 'profile.scss';
@import 'tabs.scss';
@import 'waiting-room.scss';
// endinjector
