    <!-- Footer -->
    <footer id="page-footer" class="text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul class="list-inline">
                      <li>
                          <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-fw fa-twitter"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-fw fa-linkedin"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-fw fa-dribbble"></i></a>
                      </li>
                      <li>&#8226;</li>
                      <li><a href="#">About</a></li>
                      <li>&#8226;</li>
                      <li><a href="#">Contact</a></li>
                      <li>&#8226;</li>
                      <li><a href="#">Use conditions</a></li>
                      <li>&#8226;</li>
                      <li><a href="#">Donate <i class="icon ion-ios-heart"></i></a></li>
                      <li>&#8226;</li>
                      <li>Copyright &copy; Juan Jesús García López 2014</li>
                  </ul>
              </div>
          </div>
      </div>   
    </footer>
