<div class="container" ><!--content-->
  <div id="profile-table-tabs">
    <div style="display: table-row;">
      <div style="display: table-cell; width: 1px;">
        <ul class="nav nav-tabs tabs-left">
          <li class="active"><a href="#home">Profile</a></li>
          <li><a href="#messages">Messages</a></li>
          <li><a href="#settings">Settings</a></li>
        </ul>
      </div>
   
      <div id="profile-tab-content"><!--profile-tab-content-->
        <div class="row"><!--row-->
          <div class="col-md-12 user-details"><!--user-details-->
            <div class="user-image">
              <img gravatar-src="'metallitico@gmail.com'" class="img-circle" gravatar-size="100" />
            </div>
            <div class="user-heading">
                <h3>Juan García</h3>
                <span class="help-block">Arandas, jal.</span>
            </div> 
          </div><!--/user-details-->

        
          <div class="col-md-3"><!--left col-->
            <div class="row">
              <div class="col-md-12">

                <ul class="list-group">
                  <li class="list-group-item text-muted">Profile</li>
                  <li class="list-group-item text-right"><strong class="pull-left">Joined</strong> 2.13.2014</li>
                  <li class="list-group-item text-right"><strong class="pull-left">Last seen</strong> Yesterday</li>
                  <li class="list-group-item text-right"><strong class="pull-left">Real name</strong> Joseph Doe</li>
                </ul>

                <div class="panel panel-default">
                  <div class="panel-heading">Insured / Bonded?</div>
                  <div class="panel-body">
                    <i style="color:green" class="fa fa-check-square"></i> Yes, I am insured and bonded.
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                  <div class="panel-body"><a href="http://bootply.com" class="">bootply.com</a></div>
                </div>
              
                <div class="panel panel-default">
                  <div class="panel-heading">Social Media</div>
                  <div class="panel-body">	
                    <i class="fa fa-facebook fa-2x"></i>
                    <i class="fa fa-github fa-2x"></i> 
                    <i class="fa fa-twitter fa-2x"></i>
                    <i class="fa fa-pinterest fa-2x"></i> 
                    <i class="fa fa-google-plus fa-2x"></i>
                  </div>
                </div>

              </div><!-- /column -->
            </div><!-- /row -->
          </div><!-- /left col -->

          <div class="col-md-9"><!-- right col -->
            <div class="row"><!-- row -->
              <div class="col-md-12"><!-- column -->
                <div class="panel panel-default">
                  <div class="panel-heading">About</div>
                  <div class="panel-body"> A long description about me.</div>
                </div>

                <div class="panel panel-default target">
                  <div class="panel-heading" contenteditable="false">achievements</div>
                
                  <div class="panel-body">
                    <div class="row text-center">

	      		          <div class="col-md-4">
		      		          <div class="thumbnail">
		      			          <i class="fa fa-trophy fa-3x"></i>
		      			          <div class="caption">
		      				          <h4>Champion</h4>
		      				          <p>Cocker Spaniel who loves treats.</p>
		      			          </div>
		      		          </div>
		      	          </div>

		      	          <div class="col-md-4">
		      		          <div class="thumbnail">
		      			          <i class="fa fa-diamond fa-3x"></i>
		      			          <div class="caption">
                            <h4>Second plase</h4>
		      				          <p>Is just another friendly dog.</p>
		      			          </div>
		      		          </div>
		      	          </div>

			                <div class="col-md-4">
				                <div class="thumbnail">
					                <i class="fa fa-flag fa-3x"></i>
					                <div class="caption">
						                <h4>Rocky</h4>
						                <p>
							                Hola
						                </p>
                          </div>
					              </div>
                      </div> 

                    </div>           
                  </div>


                </div>
              </div>

            </div> <!-- /column -->      
          </div> <!-- /right col -->




        </div><!--/row-->
      </div><!--/profile-tab-content-->

    </div>
  </div>
</div>

<div class="container"><!--content-->
  <div class="row tab-content"><!--tab-content-->

    <div id="information" class="tab-pane active">



      
    </div>
  
  <div id="settings" class="tab-pane">
      hola
  </div>

  <div id="message" class="tab-pane col-md-12">
   
    <div class=""><!-- right col -->
      <div class="panel panel-default">
        <div class="panel-heading">Message</div>
        <div class="panel-body messages"></div>
        <div class="panel-footer">
          <form class="form-inline">
          <textarea class="form-control" rows="3"></textarea>
          <button type="submit" class="btn btn-primary">send</button>
          </form>
        </div>
      </div>
    </div>
    
  </div>

</div>
</div><!--/content-->
